/* =========================================================
   HELLMET — Variables globales de diseño
   Este archivo NO tiene estilos de componentes, solo variables.
   Cárgalo primero, antes de cualquier otro CSS.
   ========================================================= */

:root {
  --bg: #ffffff;
  --bg-panel: #cccbc8;
  --bg-panel-2: #70706e;
  --line: #A79D86;
  --text: #201C16;
  --text-dim: #000000;
  --accent: #d4502e;
  --accent-2: #1db863;
  --accent-hover: #d69a18;
  --accent-glow: rgb(156, 172, 182);
  --accent-2-glow: rgba(169, 131, 43, 0.35);
  --bg-boton-edit: #1b173f;

  --radius: 10px;

  --header-gradient: linear-gradient(135deg, #6e6c6c 0%, #DCDCDC 20%, #6e6c6c 45%, #9C9C9C 55%, #C7C7C7 75%, #6e6c6c 100%);
  --header-line: rgba(0, 0, 0, 0.25);

  --font-display: "sans", sans-serif;
  --font-body: "octal", sans-serif;
  --font-mono: "JetBrains Mono", monospace;
  --font-hellmet: "desvanecer", sans-serif;
  --font-textoComun: "octal", monospace;
  --font-texto-caracteristicas: "octal_negrilla", monospace;
  --font-nom-prod: "inverso", monospace;
  --font-h4:"cambio", monospace;

  --container: 1180px;
  --logo-badge-size: 170px;
}

* { box-sizing: border-box; }

html { scroll-behavior: smooth; }

body {
  margin: 0;
  font-family: var(--font-body);
  background: var(--bg);
  color: var(--text);
}

@font-face{
  font-family: "desvanecer";
  src: url("../fuentes/UrbanJungleDEMO.otf");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "octal";
  src: url("../fuentes/TT\ Octosquares\ Trial\ Thin.ttf");
  font-style: normal;
  font-weight: bold;
}

@font-face {
  font-family: "octal_negrilla";
  src: url("../fuentes/TT_Octosquares_Trial_Black.ttf");
  font-style: normal;
  font-weight: bold;
}

@font-face {
  font-family: "inverso";
  src: url("../fuentes/Danger_Zone_Warning.ttf");
  font-style: normal;
  font-weight: bold;
}

@font-face {
  font-family: "cambio";
  src: url("../fuentes/Inversionz.ttf");
  font-style: normal;
  font-weight: bold;
}